/* Short form (multiple values per line)*/

body {
    margin:0 0 0 0;
    border:  1xp solid red;
    background-color: antique white;
    background: pink;
}

header, main, footer {
    background-color: white;
    padding: 25px;
}
h1,h2,h3,h4 {
    font-family: heletica, arial, sans serif;
}
